@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto:wght@100;300;400;700;900&family=Rubik:wght@400;500;600;700;800;900&display=swap');

body {
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

ul.ul-menu {
    display: flex;
    text-decoration: none;
    justify-content: center;
    gap: 35px !important;
    list-style: none;
    margin: auto;
}

ul.ul-menu a {
    color: black;
    font-weight: 500;
    font-family: 'Montserrat';
}

ul.ul-menu a:hover {
    color: #978661;
}

button.btn-1 {
    text-decoration: none;
    border: #978661;
    border-radius: 40px 40px 40px 40px;
    padding: 10px 24px 10px 24px;
    color: white;
    position: relative;
    z-index: 111111111;
    background: #978661;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

button.btn-1:hover {
    color: #978661;
}

button.btn-1 a {
    color: white;
}

button.btn-1 a:hover {
    color: white;
    text-decoration: none;
}

button.btn-1:hover {
    background: transparent;
}

button.btn-1 a:hover {
    color: #978661;
}

ul.ul-menu a:hover {
    color: #978661;
    text-decoration: none;
}

li.active {
    color: #978661;
}

.container-fluid {
    height: 700px;
    background-image: url(images/banner.webp);
    background-size: cover;
    display: flex;
    align-items: center;
}

h1.title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 65px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 75px;
    margin-left: 20px;
    border: 10px solid;
    padding: 20px;
    width: 57%;
}

button.btn-b {
    margin-left: 10px;
}

.banner-inner {
    padding: 20px;
}

.buttons {
    display: flex;
    padding-top: 60px;
    justify-content: left;
}

button.btn-b {
    color: black !important;
}

button.btn-b {
    text-decoration: none;
    border: #978661;
    border-radius: 40px 40px 40px 40px;
    padding: 13px 30px 13px 30px;
    color: #978661;
    background: white;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

button.btn-b a {
    font-family: 'Montserrat';
    color: black;
}

button.btn-b a:hover {
    color: black;
    text-decoration: none;
}

.main-div {
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.mobile img {
    width: 100%;
}

h1.heading1 {
    line-height: 1.0;
    font-size: 45px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: black;
}

p.paragraph {
    font-family: 'Montserrat';
    font-weight: 400;
    color: black;
    font-size: 15px;
}

.main-div .col-6 {
    padding-left: 35px;
}

.main-div1 {
    padding: 50px 25px 20px 25px;
    display: flex;
    align-items: center;
}

.grid-wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper .wide {
    grid-column: span 2;
}

.grid-wrapper .tall {
    grid-row: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

.main-div2 {
    padding: 60px 30px 60px 30px;
}

h1.gallery {
    line-height: 1.0;
    font-size: 45px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: black;
    text-align: center;
    padding-bottom: 25px;
}

.grid-wrapper>div img:hover {
    transform: scale(1.1);
    transition: transform .5s;
}

h1.map {
    line-height: 1.0;
    font-size: 45px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: black;
    text-align: center;
    padding-bottom: 25px;
}

iframe.map1 {
    border-radius: 30px;
    filter: grayscale(100%);
}

.main-div3 {
    padding: 0px 30px 60px 30px;
}

.footer-inner {
    display: flex;
    padding-bottom: 40px;

}

.footer {
    background: url(images/footer-bg.svg);
    background-size: cover;
    padding: 60px 30px 10px 30px;

}

img.footer-logo {
    padding-bottom: 15px;
    width: 40%;
}

p.footer-text {
    font-family: 'Montserrat';
    font-weight: 400;
    color: white;
    font-size: 15px;
}

h2.footer-hed {
    padding-left: 35px;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 22px;
    font-weight: 500;
}

ul.footer-ul {
    list-style: none;
    text-decoration: none;
}

li.footer-li {
    line-height: 2;
    font-size: 17px;
    color: white;
}

h2.footer-had {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 22px;
    font-weight: 500;
}

p.copy {
    padding-top: 25px;
    font-weight: 400;
    font-family: 'Montserrat';
    color: white;
    text-align: center;
    font-size: 14px;
}

.copyright {
    border-top: 1px solid #735d3bc7;
}

.form-subscribe {
    max-width: 600px;
    padding-top: 15px;
    margin: 0 auto
}

.form-subscribe .form-control {
    height: calc(1.9em + 0.79rem + 2px);

    background-color: hsla(0, 0%, 100%, .8);
    padding-left: 24px;
    padding-right: 24px;
    letter-spacing: 1px;
    border: none;
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px
}

.form-subscribe .form-control.focus,
.form-subscribe .form-control:focus {
    z-index: 2;
    background-color: hsla(0, 0%, 100%, .8)
}

.form-subscribe .btn {
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    background: #978661;
    border-color: #978661;
    height: 46.5px;
}

input.form-control.input-lg {
    font-family: 'Montserrat';
    font-size: 16px;
}

button.btn.btn-success.btn-lg {
    font-family: 'Montserrat';
    font-size: 5px;
}

i.fa.fa-envelope {
    font-size: 14px;
}

button.btn.btn-success.btn-lg:hover {
    background: #978661;
    border: 1px solid #978661;
}

img.line {
    margin-top: -187px;
    position: absolute;
    width: 52%;
}

img.circle {
    position: absolute;
    left: -370px;
    top: -140px;
}

img.dot {
    top: -175px;
    left: 230px;
    position: absolute;
    width: 70%;
}

/*About apage*/

.container-fluid-banner {
    height: 350px;
    background-image: url(images/banner.png);
    background-size: cover;
    display: flex;
    align-items: center;
}

h1.h1-about {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: 700;
}

hr.devider {
    width: 10%;
    margin-top: 0;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid white;
}

button.btn-2 {
    text-decoration: none;
    border: #978661;
    border-radius: 40px 40px 40px 40px;
    padding: 12px 30px 12px 30px;
    color: white;
    position: relative;
    z-index: 111111111;
    background: #978661;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

button.btn-2 a {
    color: white;
}

button.btn-2:hover {
    border-color: #FFFFFF;
    background: transparent;
    color: #ffffff;
}

.cta {
    text-align: center;
}

/*Contact apage*/
p.para {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: black;
    font-size: 15px;
}

h1.h1-contact {
    line-height: 1.0;
    font-size: 45px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: black;
    text-align: center;
}

.map2 {
    filter: grayscale(100%);
}

input.form-control.input-lg {
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 24px;
    border-color: #00000057;
    border-radius: 40px;
}

textarea.form-control {
    height: auto;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 20px;
    border-color: #00000057;
    border-radius: 40px;
}

button#send {
    text-decoration: none;
    border: #978661;
    border-radius: 40px 40px 40px 40px;
    padding: 15px 24px 15px 24px;
    color: white;
    position: relative;
    z-index: 111111111;
    background: #978661;
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

button#send:hover {
    text-decoration: none;
    border: #978661;
    border-radius: 40px 40px 40px 40px;
    padding: 15px 24px 15px 24px;
    color: #978661;
    position: relative;
    z-index: 111111111;
    background: transparent;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

a.footer-a {
    text-decoration: none !important;
}

footer.footer .copyright p.copy.text-uppercase a {
    color: #978661 !important;
}

/*Community Forum*/

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

section.community-forum {
    padding: 50px 50px 75px 50px;
}

a.commu-a p {
    font-weight: 500;
    font-family: 'Montserrat';
    color: #978661;
    margin-bottom: 0;
}

a.commu-a {
    text-decoration: none !important;
}

h2.commu-title {
    font-family: 'Montserrat';
    font-size: 30px;
    color: black;
    font-weight: 600;
}

h6.commu-sub {
    font-family: 'Montserrat';
    font-size: 14px;
    color: black;
}

p.commu-para {
    font-family: 'Montserrat';
    font-size: 16px;
    color: black;
    font-weight: 400;
}

.commu-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.main-div1 .row {
    display: flex;
    align-items: center;
}

ul.navbar-nav.mx-auto li {
    font-family: 'Montserrat' !important;
    color: #000;
}

header.header .row {
    display: flex;
    align-items: center;
}

.mobile {
    display: none;
}

.desktop {
    width: 100%;
    display: contents;
}

.cookie {
    padding-left: 80px;
    font-family: 'Montserrat';
}

.license {
    padding: 0px 80px;
    font-family: 'Montserrat';
}


body {
    overflow-x: hidden !important;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    justify-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
    .buttons {
        display: flex;
        padding-top: 10px;
        justify-content: left;
    }

    img.line {
        margin-top: -188px;
        position: absolute;
        width: 52%;
    }
}

@media only screen and (max-width: 1799px) and (min-width: 1660px) {
    .buttons {
        display: flex;
        padding-top: 10px;
        justify-content: left;
        z-index: 9;
        position: absolute;
    }

    img.line {
        margin-top: -170px;
        position: absolute;
        width: 52%;
    }
}

@media only screen and (max-width: 767px) {

    .buttons:last-of-type {
        padding-top: 15px !important;
    }

    .mobile .row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .mobile {
        display: block;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-end;
        flex-direction: row;
        z-index: 1;
        /*background-color: #fff;*/
        padding: 20px 0px;
        /*box-shadow: 1px 2px 6px #a5a5a5;*/
        border-radius: 25px;
        /*padding-bottom: 30px;*/
    }

    div#navbarSupportedContent {
        position: absolute;
        top: 115px;
        right: 0px;
        width: 120%;
        background-color: #fff;
        padding: 20px 17px;
        border-radius: 0px 0px 20px 20px;
        box-shadow: 1px 6px 6px #5e5e5e;
    }

    div#navbarSupportedContent ul.navbar-nav.mx-auto li {
        padding: 10px 0px;
    }

    .navbar-light .navbar-toggler {
        border-radius: 31px !important;
        padding: 15px 30px !important;
        color: rgba(0, 0, 0, .55);
        border-color: rgba(0, 0, 0, .1);
    }

    .navbar-nav {
        gap: 15px;
    }

    .desktop {
        display: none;
    }

    .hero-image {
        border-radius: 45px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border: 10px solid #fff;
        height: 50vh !important;
        width: 100%;
    }

    .listing-wrap.item-grid-view .row {
        gap: 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
    }

    .heading h2 {
        font-size: 35px;
        font-weight: 800;
    }

    .hero-text h2 {
        font-size: 30px;
        font-weight: 800;
    }

    img.line {

        display: none !important;
    }

    img.dot {
        display: none !important;
    }

    img.circle {
        display: none !important;
    }

    button.btn-b {
        text-decoration: none;
        border: #978661;
        border-radius: 40px 40px 40px 40px;
        padding: 10px 15px 10px 15px;
        color: #978661;
        background: white;
        font-family: "Montserrat", Sans-serif;
        font-size: 13px;
        font-weight: 500;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        width: 95%;
        text-align: center;
        margin: 0px auto;
        gap: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .banner-inner h1.title {
        color: #FFFFFF;
        font-family: "Montserrat", Sans-serif;
        font-size: 25px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 34px;
        margin-left: 0px;
        width: 100%;
    }

    section.main-div1.safety .row {
        display: flex !important;
        flex-direction: column-reverse !important;
    }

    h1.h1-about {
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 40px;
        font-family: 'Montserrat';
        font-weight: 700;
    }

    .grid-wrapper {
        display: flex;
        grid-gap: 25px;
        flex-direction: column;
    }

    .footer-inner h2.footer-hed {
        padding: 0;
    }

    .footer-inner ul.footer-ul {
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    footer.footer .footer-inner .row .col-md-3 {
        padding-top: 10px;
        padding-bottom: 10px !important;
    }

    html {
        overflow-x: hidden !important;
    }

    .banner-inner {
        padding: 0 !important;
    }

    .main-div .col-lg-6 {
        padding: 20px 30px 20px !important;
    }

    .heading1 {
        font-size: 26px !important;
    }

    .paragraph {
        font-size: 14px !important;
    }

    .btn-1 {
        font-size: 13px !important;
    }

    .main-div1 {
        padding: 10px 10px 30px 10px !important;
    }

    .main-div1 .px-5 {
        padding: 5px 20px 10px !important;
    }

    .main-div2 {
        padding: 20px 10px 60px 10px !important;
    }

    .gallery {
        font-size: 36px !important;
        padding-bottom: 15px !important;
    }

    .main-div3 {
        padding: 0px 10px 60px 10px !important;
    }

    .map {
        font-size: 36px !important;
    }

    .copy {
        font-size: 11px !important;
    }

    .footer-hed {
        font-size: 18px !important;
    }

    .footer-li {
        font-size: 15px !important;
    }

    .hero-text {
        width: 100% !important;
    }

    .item-title-head.table-block h4.title a {
        font-size: 22px !important;
        margin-left: 10px !important;
    }

    .item-address {
        font-size: 14px;
    }

    .h1-contact {
        font-size: 28px !important;
    }

    .cookie {
        padding-left: 10px;
    }

    .license {
        padding: 0px 10px !important;
    }
}
